*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    background-color: #fef0d3;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
    padding: 20px 50px;
}
span{
    color: #af6d3b;
}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: #81522e;
    color: #fff;
    transition: 0.3s;
}
.btn:hover{
    background-color: #af6d3b;
}

.menu {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: 0.3s;
}
.menu:hover{
    color: #af6d3b;
}

li {
    list-style: none;
}


.mark {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 40px 0;
    gap: 5px;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #af6d3b;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #af6d3b;
    line-height: 40px;
}


.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.images img {
    width: 15%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s;
}

.images img:hover {
    width: 20%;
}



/* Responsive website  */


@media screen and (max-width: 900px) {
    .images {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
    h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #af6d3b;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #af6d3b;
    line-height: 40px;
}

header {
    display: block;
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
}

.btn {
    margin-top: 70px;
    margin-left: 20%;
}

.menu:hover{
    background-color: #af6d3b;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

}